body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

.bg-main-desktop {
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 33.33%;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 80%;
}
/* .card {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    align-items: center;

} */

.card-front {
    background-image: url('../images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: inherit;
    padding: 0;
    width: 27.9375em;
    height: 15.3125em;
    margin-right: 10em;
}

.card-back {
    background-image: url('../images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: inherit;
    padding: 0;
    width: 27.9375em;
    height: 15.3125em;
}

#dataCard {
    text-transform: uppercase !important;
}

form {
    padding: 5em;
}

button {
    background-color: #1B0726 !important;
    padding: 0.3em;
    color: #FFF !important;
}