body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    /* font-size: 18px; */
}

.bg-main-desktop {
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 33.33%;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

.card-front, .card-back {
    background-repeat: no-repeat;
    padding: 0;
    background-size: inherit;
    width: 27.9375em;
    height: 15.3125em;
    padding: 2.2em;
}

.card-front {
    background-image: url('../images/bg-card-front.png');
    margin-right: 15em;
}

.bi-circle {
    color: #C9B6CC;
}

.card-back {
    background-image: url('../images/bg-card-back.png');
    margin-left: -8em;
    margin-top: 2.31em;
}

#dataCard {
    text-transform: uppercase !important;
}

form {
    padding: 5em;
}

#inputExpDateM, #inputExpDateY {
    width: 45%;
}

input::placeholder {
    color: #686868 !important;
}
    

.form-control:focus {
    border: 2px solid linear-gradient(to left, #6448fe, #600594) !important;
    box-shadow: 0 0 0 0 !important;
}

button {
    background-color: #220930 !important;
    padding: 0.5em 0 !important;
    color: #FFF !important;
}

/* FILL'S DATA */

#fill-number {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#fill-cvc, #fill-number, #fill-name, #fill-date-month, #fill-date-year, span {
    color: #FFF;
    text-transform: uppercase;
}

#fill-cvc {
    margin-right: 1em;
}